[Unit]
Description=isync Service
After=network.target

[Service]
Type=simple
ExecStart=mbsync -Va
ExecStop=/usr/local/sbin/mail-notify -a300 -m3 -t2000

[Install]
WantedBy=multi-user.target
