!! General

#define MOD mod4

Xft.dpi:       {{ xft_dpi }}
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

!! URxvt

! Fonts
URxvt.font: {% for f in term_fonts -%}
  xft:{{ f }}:pixelsize={{ pixelsize }}:antialias=true:hinting=true,
{%- endfor %}
URxvt.boldFont: {% for f in term_fonts -%}
  xft:{{ f }}{{
    ':bold' if use_bold else ''
  }}:pixelsize={{ pixelsize }}:antialias=true:hinting=true,
{%- endfor %}
URxvt.letterSpace: {{ term_letterspace }}

! Appearance
URxvt.saveLines:        12000
URxvt.internalBorder:   30
URxvt.urgentOnBell:     true
URxvt.scrollBar:        false
URxvt.cursorBlink:      true
URxvt.depth:            32

! Ctrl + Arrow Keys
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
