!! General

#define MOD mod4

Xft.dpi:       {{ xft_dpi }}
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

! Black
*.color0:       {{ n_black }}
*.color8:       {{ b_black }}

! Red
*.color1:       {{ n_red }}
*.color9:       {{ b_red }}

! Green
*.color2:       {{ n_green }}
*.color10:      {{ b_green }}

! Yellow
*.color3:       {{ n_yellow }}
*.color11:      {{ b_yellow }}

! Blue
*.color4:       {{ n_blue }}
*.color12:      {{ b_blue }}

! Magenta
*.color5:       {{ n_magenta }}
*.color13:      {{ b_magenta }}

! Cyan
*.color6:       {{ n_cyan }}
*.color14:      {{ b_cyan }}

! White
*.color7:       {{ n_white }}
*.color15:      {{ b_white }}

!! URxvt

! Fonts
URxvt.font:      {{ #term_fonts }}xft:{{ . }}:pixelsize={{ pixelsize }}:antialias=true:hinting=true,{{ /term_fonts }}
URxvt.boldFont:  {{ #term_fonts }}xft:{{ . }}{{ #use_bold }}:bold{{ /use_bold }}:pixelsize={{ pixelsize }}:antialias=true:hinting=true,{{ /term_fonts }}
URxvt.letterSpace: {{ term_letterspace }}

! Colors
URxvt.borderColor:  {{ bgc }}
URxvt.background:   {{ bgc }}
URxvt.foreground:   {{ fgc }}

! Appearance
URxvt.saveLines:        12000
URxvt.internalBorder:   30
URxvt.urgentOnBell:     true
URxvt.scrollBar:        false
URxvt.cursorBlink:      true
URxvt.depth:            32

! Clickable links
URxvt.url-launcher:     firefox
URxvt.matcher.button:   1

URxvt.perl-ext-common:  default,matcher,confirm-paste

! Copy/Paste
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! Ctrl + Arrow Keys
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
